.nav{
    position: relative;
    z-index: 999;
}
.wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../../assets/bg-home.svg');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 1px;
    @media (max-width: 786px) {
        background: none;
        justify-content: center;

    }
}
